.property-container {
  /* padding: 2rem; */
}

.filter-form {
  display: flex;
}

.filter-form > div {
  flex:1 1 auto;
  text-align:center;
  margin:5px;
}

.card-body {
  display: flex;
}

a {
  text-decoration: none
}

.property-info {
  width: 90%;
  margin: 0 1rem;
}

.property-highlight {
  margin: 0 1rem
}

.property-name {
  font-size: 20px
}

.avatar {
  background-image: url("../../assets/img.jpeg");
  background-repeat: no-repeat;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  min-width: 132px;
}