@media only screen and (max-width: 990px) {
  .list {
    text-align: right;
    padding-right: 12px;
    padding-top: 10px;
  }
  
  .list-item:nth-child(odd) {
    background-color: #f4f5f7;
  }
  
  .list-item:nth-child(even) {
    background-color: #eeeff1f4;
  }
}