<div class="my-navbar">
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div routerLink="/" class="float-start">
      {{ title }}
    </div>
    <div class="float-end">
      <img routerLink="/account" src="../../assets/account.png" alt="Login">
      <span routerLink="/account">Account</span>
    </div>
    <div class="float-end">
      <img routerLink="/properties" src="../../assets/properties.png" alt="Properties">
      <span routerLink="/properties">Properties</span>
    </div>
  </nav>
</div>