<app-navbar></app-navbar>
<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="col-sm-2 col-form-label col-form-label">
        Adresa de Email:
        <input class="form-control" type="email" formControlName="email" required placeholder="Introduceti email...">
      </label>
      <div *ngIf="form.email.touched && form.email.invalid" class="alert alert-danger">
        <div *ngIf="form.email.errors?.required">Adresa de email trebuie completata!</div>
        <div *ngIf="form.email.errors?.email">Adresa de email nu este valida!</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label col-form-label">
        Parola:
        <input class="form-control" type="password" formControlName="password" required
          placeholder="Introduceti parola...">
      </label>
      <div *ngIf="form.password.touched && form.password.invalid" class="alert alert-danger">
        <div *ngIf="form.password.errors?.required">Parola trebuie completata!</div>
      </div>
    </div>
    <div *ngIf="message" class="form-group">
      <h3 style="color: red">{{ message }}</h3>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  <a class="nav-link" style="cursor: pointer;" (click)="resetPassword()">Reseteaza parola</a>
  <a class="nav-link" routerLink="/register">Nu ai cont? Creeaza un cont acum!</a>
</div>
<app-copyright-navbar></app-copyright-navbar>