<div class="reset-pass-container">
  <h2 mat-dialog-title>Resetare parola</h2>
  <div mat-dialog-content>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label class="col-sm-2 col-form-label col-form-label data">
          Adresa de Email:
          <input class="form-control" type="email" formControlName="email" required placeholder="Introduceti email...">
        </label>
        <div *ngIf="form.email.touched && form.email.invalid" class="alert alert-danger">
          <div *ngIf="form.email.errors?.required">Adresa de email trebuie completata!</div>
          <div *ngIf="form.email.errors?.email">Adresa de email nu este valida!</div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!resetForm.valid">Reseteaza parola</button>
    </form>
  </div>
</div>
