<app-navbar></app-navbar>
<div *ngIf="property" class="property-container">
  <div class="card col-sm-9 card-aligned">
    <div class="card-header">
      <span class="field-name">Imagini</span>
      <ng-image-slider *ngIf="imageObject" [images]="imageObject" #nav></ng-image-slider>
    </div>
    <div class="card-body">
    </div>
  </div>
  <div class="card col-sm-9 card-aligned">
    <div class="card-header">
      <span class="card-title">{{ property.name | uppercase }}</span>
    </div>
    <div class="card-body">
      <p class="card-text">
        <span class="field-name">Descriere:</span>
        <span class="field-value">{{ property.description }}</span>
      </p>
      <p class="card-text">
        <span class="field-name">Adresa:</span>
        <span class="field-value">{{ property.address }}&nbsp;| {{ property.city }}</span>
      </p>
      <p class="card-text">
        <span class="field-name">Tara:</span>
        <span class="field-value">{{ property.country }}</span>
      </p>
      <p class="card-text">
        <span class="field-name">Distanta fata de centru:</span>
        <span class="field-value">{{ property.distanceFromCenter }} km</span>
      </p>
      <p class="card-text">
        <span class="field-name">Pret per noapte</span>
        <span class="field-value">{{ property.pricePerNight | currency}}</span>
      </p>
    </div>
  </div>
  <div class="card col-sm-9 card-aligned">
    <div class="card-header">
      <span class="card-title">Facilitati</span>
    </div>
    <div class="card-body">
      <p class="card-text">
        <span class="field-name">Numar adulti:</span>
        <span class="field-value">{{ property.adultsNumber }}</span>
      </p>
      <p class="card-text">
        <span class="field-name">Numar camere:</span>
        <span class="field-value">{{ property.roomsNumber }}</span>
      </p>
      <p class="card-text">
        <span class="field-name">Dimensiune:</span>
        <span class="field-value">{{ property.dimmension }}</span>
      </p>
      <p class="card-text">
        <span class="field-name">Distanta fata de centru:</span>
        <span class="field-value">{{ property.distanceFromCenter }}</span>
      </p>
      <p class="card-text">
        <span class="field-name">Balcon:</span>
        <span class="field-value">
          <span *ngIf="property.balcony">Da</span>
          <span *ngIf="!property.balcony">Nu</span>
        </span>
      </p>
      <p class="card-text">
        <span class="field-name">Baie privata:</span>
        <span class="field-value">
          <span *ngIf="property.privateBathroom">Da</span>
          <span *ngIf="!property.privateBathroom">Nu</span>
        </span>
      </p>
      <p class="card-text">
        <span class="field-name">A/C:</span>
        <span class="field-value">
          <span *ngIf="property.airConditioning">Da</span>
          <span *ngIf="!property.airConditioning">Nu</span>
        </span>
      </p>
      <p class="card-text">
        <span class="field-name">Parcare gratuita:</span>
        <span class="field-value">
          <span *ngIf="property.freeParking">Da</span>
          <span *ngIf="!property.freeParking">Nu</span>
        </span>
      </p>
      <p class="card-text">
        <span class="field-name">Mic dejun inclus:</span>
        <span class="field-value">
          <span *ngIf="property.breakfastIncluded">Da</span>
          <span *ngIf="!property.breakfastIncluded">Nu</span>
        </span>
      </p>
      <p class="card-text">
        <span class="field-name">Accepta animale de companie:</span>
        <span class="field-value">
          <span *ngIf="property.petsAllowed">Da</span>
          <span *ngIf="!property.petsAllowed">Nu</span>
        </span>
      </p>
    </div>
  </div>
  <div class="card col-sm-9 card-button">
    <button routerLink="/bookProperty/{{property._id}}" type="button" class="btn btn-primary">Rezerva</button>
  </div>
</div>