.field-name {
  width: 12rem;
  display: inline-block;
  color: gray;
}

.field-value {
  width: 12rem;
}

.field-name,
.field-value {
  font-size: 15px;
}

.property-container {
  margin: 1.5rem;
}

.card-aligned {
  float: none;
  margin: 0 auto;
  margin-bottom: 1rem
}

.card-button {
  float: none;
  margin: 0 auto;
  width: 50%;
  margin-top: 1rem;
}