.card-header {
  text-align: center;
}

.card-body {
  text-align: center;
}

.btn-save {
  margin-top: 2rem;
}

.account {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}