<app-navbar></app-navbar>
<div *ngIf="user" class="account-container">
  <div class="card" style="width: 28rem;">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Profilul meu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Rezervarile mele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Log out</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h3 class="card-subtitle">{{ user.firstName | uppercase }} {{ user.lastName | uppercase }}</h3>
      <div>
        <span>Email: {{ user.email }}</span>
      </div>
      <a class="nav-link" href="">Schimba parola</a>
      <form [formGroup]="userDataForm" (ngSubmit)="changeData()">
        <div class="form-group">
          <label class="col-form-label">
            Prenume:
            <input class="form-control" [(ngModel)]="user.firstName" type="text" formControlName="firstName">
          </label>
        </div>
        <div class="form-group">
          <label class="col-form-label">
            Nume:
            <input class="form-control" [(ngModel)]="user.lastName" type="text" formControlName="lastName">
          </label>
        </div>
        <button type="submit" class="btn btn-warning change-user">Actualizeaza date</button>
      </form>    
    </div>
  </div>
</div>