<div class="admin-login-container">
  <div class="heading-container">
    <img class="logo" src="../../assets/logo.png" alt="Logo">
    <h2>Admin Login</h2>
  </div>
  <form [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="col-sm-2 col-form-label col-form-label-lg">
        Adresa de Email:
        <input class="form-control" type="email" formControlName="email" required placeholder="Introduceti email...">
      </label>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label col-form-label-lg">
        Parola:
        <input class="form-control" type="password" formControlName="password" required placeholder="Introduceti parola...">
      </label>
    </div>
    <div *ngIf="message" class="form-group">
      <h3 style="color: red">{{ message }}</h3>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!adminLoginForm.valid">Login</button>
  </form>
  <!-- <a class="nav-link" routerLink="/register">Nu ai cont? Creeaza un cont acum!</a> -->
</div>