<div class="edit-property-container">
  <h2 mat-dialog-title>Editare proprietate</h2>
  <div mat-dialog-content *ngIf="data.property">
    <form [formGroup]="propertyForm" (ngSubmit)="changeData()">
      <div class="form-group w-50">
        <label for="formName" class="col-form-label">Nume:</label>
        <input id="formName" class="form-control" [(ngModel)]="data.property.name" type="text" formControlName="name">
      </div>
      <div class="form-group">
        <label for="formDesc" class="col-form-label">Descriere:</label>
        <input id="formDesc" class="form-control" [(ngModel)]="data.property.description" type="text" formControlName="description">
      </div>
      <div class="form-group w-50">
        <label for="formAdd" class="col-form-label">Adresa:</label>
        <input id="formAdd" class="form-control" [(ngModel)]="data.property.address" type="text" formControlName="address">
      </div>
      <div class="form-group w-50">
        <label for="formCountry" class="col-form-label">Tara:</label>
        <input id="formCountry" class="form-control" [(ngModel)]="data.property.country" type="text" formControlName="country">
      </div>
      <div class="form-group w-50">
        <label for="formCity" class="col-form-label">Oras:</label>
        <input id="formCity" class="form-control" [(ngModel)]="data.property.city" type="text" formControlName="city">
      </div>
      <div class="form-group w-25">
        <label for="formPrice" class="col-form-label">Pret per noapte:</label>
        <input id="formPrice" class="form-control" [(ngModel)]="data.property.pricePerNight" type="text" formControlName="pricePerNight">
        <div *ngIf="form.pricePerNight.touched && form.pricePerNight.invalid" class="alert alert-danger">
          <div *ngIf="form.pricePerNight.errors?.pattern">Pretul trebuie sa fie numar!</div>
        </div>
      </div>
      <div class="form-group w-25">
        <label for="formAdults" class="col-form-label">Numar adulti:</label>
        <input id="formAdults" class="form-control" [(ngModel)]="data.property.adultsNumber" type="text" formControlName="adultsNumber">
        <div *ngIf="form.adultsNumber.touched && form.adultsNumber.invalid" class="alert alert-danger">
          <div *ngIf="form.adultsNumber.errors?.pattern">Numarul de adulti trebuie sa fie numar!</div>
        </div>
      </div>
      <div class="form-group w-25">
        <label for="formRooms" class="col-form-label">Numar de camere:</label>
        <input id="formRooms" class="form-control" [(ngModel)]="data.property.roomsNumber" type="text" formControlName="roomsNumber">
        <div *ngIf="form.roomsNumber.touched && form.roomsNumber.invalid" class="alert alert-danger">
          <div *ngIf="form.roomsNumber.errors?.pattern">Numarul de camere trebuie sa fie numar!</div>
        </div>
      </div>
      <div class="form-group w-25">
        <label for="formDim" class="col-form-label">Dimensiune:</label>
        <input id="formDim" class="form-control" [(ngModel)]="data.property.dimmension" type="text" formControlName="dimmension">
        <div *ngIf="form.dimmension.touched && form.dimmension.invalid" class="alert alert-danger">
          <div *ngIf="form.dimmension.errors?.pattern">Dimensiunea trebuie sa fie numar!</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">Balcon:</label>
        <span *ngIf="data.property.balcony">Da</span>
        <span *ngIf="!data.property.balcony">Nu</span>
        <div class="form-group">
          <span>Modificati:</span>
          <select formControlName="balcony">
            <option value="true">Da</option>
            <option value="false">Nu</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">Baie privata:</label>
        <span *ngIf="data.property.privateBathroom">Da</span>
        <span *ngIf="!data.property.privateBathroom">Nu</span>
        <div class="form-group">
          <span>Modificati:</span>
          <select formControlName="privateBathroom">
            <option value="true">Da</option>
            <option value="false">Nu</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">A/C:</label>
        <span *ngIf="data.property.airConditioning">Da</span>
        <span *ngIf="!data.property.airConditioning">Nu</span>
        <div class="form-group">
          <span>Modificati:</span>
          <select formControlName="airConditioning">
            <option value="true">Da</option>
            <option value="false">Nu</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">Parcare gratuita:</label>
        <span *ngIf="data.property.freeParking">Da</span>
        <span *ngIf="!data.property.freeParking">Nu</span>
        <div class="form-group">
          <span>Modificati:</span>
          <select formControlName="freeParking">
            <option value="true">Da</option>
            <option value="false">Nu</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">Mic dejun inclus:</label>
        <span *ngIf="data.property.breakfastIncluded">Da</span>
        <span *ngIf="!data.property.breakfastIncluded">Nu</span>
        <div class="form-group">
          <span>Modificati:</span>
          <select formControlName="breakfastIncluded">
            <option value="true">Da</option>
            <option value="false">Nu</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">Acceptare animale:</label>
        <span *ngIf="data.property.petsAllowed">Da</span>
        <span *ngIf="!data.property.petsAllowed">Nu</span>
        <div class="form-group">
          <span>Modificati:</span>
          <select formControlName="petsAllowed">
            <option value="true">Da</option>
            <option value="false">Nu</option>
          </select>
        </div>
      </div>
      <div class="form-group w-25">
        <label class="col-form-label">Distanta fata de centru(aprox.):</label>
        <input class="form-control" [(ngModel)]="data.property.distanceFromCenter" type="text" formControlName="distanceFromCenter">
        <div *ngIf="form.distanceFromCenter.touched && form.distanceFromCenter.invalid" class="alert alert-danger">
          <div *ngIf="form.distanceFromCenter.errors?.pattern">Distanta trebuie sa fie numar!</div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-form-label">
          Imagini actuale:
          <mat-selection-list #imagesPaths (selectionChange)="onChange(imagesPaths.selectedOptions.selected)">
            <mat-list-option class="edit-option" *ngFor="let imagePath of data.property.imagesPaths" [value]="imagePath" selected>
              <img class="edit-image" [src]="imagesUrls[imagePath]" />
            </mat-list-option>
          </mat-selection-list>
        </label>
      </div>
      <div class="form-group">
        <label class="col-form-label">
          Adaugati imagini:
          <input type="file" multiple class="form-control file-input" (change)="onFileSelected($event)" #fileUpload>
          <div class="file-upload">
            <div *ngFor="let file of myFiles">
              {{file.name}}
            </div>
            <button type="button" mat-mini-fab color="warn" class="upload-btn" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </label>
      </div>
      <button type="submit" class="btn btn-success">Actualizeaza date</button>
    </form>
  </div>
</div>